:root {
    --primary: #009AE7;
}

.input label {
    display: inline-block;
    color: #202020;
    padding-bottom: .25rem;
}

.input input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0 0 0 / 20%);
    border-radius: .25rem;
    caret-color: var(--primary);
    transition: .3s all;
}

.input input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.input input.invalid {
    border: 1px solid #e00000;
}